.container::before {
  background-image: url("../images/watercolour.jpg");
  opacity: 0.3;
  z-index: -2;
  content: "";
  position: absolute;
  display: block;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.nav a {
  color: #0053ad;
}

.header_logo img {
  width: 50px;
  margin: 3% 0;
}

.header_text {
  width: 50%;
  font-family: monospace;
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_icon img {
  width: 50px;
  padding: 5%;
}

.mobile_header {
  display: none;
}

.main {
  width: 100vw;
  height: 100vh;
  padding: 10%;
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.main img {
  width: 150px;
}

.main_logo {
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-top: 0;
  flex: 1;
}

.main_text {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 180%;
  flex: 3;
}

.row {
  margin: 5% 0;
}

#recentActivities,
#interests {
  border: solid 1px #000000;
  background-image: url("../images/watercolour.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
  padding: 8%;
  margin: 10% auto;
}

.container,
.row {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 5% auto;
  height: 110px;
}

.interest {
  display: flex;
  justify-content: flex-start;
}

#recentActivities img {
  height: 40%;
  display: block;
  margin: 5% 3%;
}

#recentActivities p {
  display: inline-block;
  margin: 0;
}

#interests img {
  height: 80%;
  display: inline-block;
  margin: 0;
}

#interests p {
  display: inline-block;
  margin: 0;
  margin-left: 10%;
}

#fade_text {
  opacity: 0;
  margin-top: 5%;
  font-size: 70%;
  font-style: italic;
  transition: opacity 3s;
}

@media screen and (max-width: 735px) {
  .main_logo {
    display: none;
  }

  .nav-item {
    display: none;
  }

  .mobile_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
  }

  .row {
    max-width: 100vw;
  }

  .header_icon:hover {
    background: rgba(162, 196, 193, 0.5);
    border-radius: 15%;
  }

  .nav-item.popup {
    display: block;
    min-width: 100vw;
  }

  .nav-link.active {
    border-color: #dee2e6 !important;
  }
}
